# When not feature testing, you can also create an empty env #
DB_DSN="mysql:host=db;port=3306;dbname=wp"
DB_USER="wp"
DB_PASSWORD="wp"
DB_TABLE_PREFIX="wp_"
SECURITY_KEY=""
PRIMARY_SITE_URL="http://test.craftcms.test/index.php"
